<div class="privatePages">
  <form action="/categories/new" method="post">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" />
      <label for="tag">Tag</label>
      <select name="tag">
        <option value="Essential">Essential</option>
        <option value="Life Style">Life Style</option>
        <option value="Priority">Priorities</option>
      </select>
    </div>
    <button class="btn btn-secondary rounded-pill py-1 px-3" type="submit">Add</button>
  </form>
</div>